<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-card/paper-card.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../iron-icons/iron-icons.html">

<dom-module id="fotosocial-post">
  <template>
    <style>
      :host {
        display: block;
      }
      .card-image {

      }
    </style>
    <paper-card>
      <div class="card-content">
        <div class="card-image">
          <img src="[[post.photo]]" />
        </div>
      </div>
      <div class="card-actions">
        <p>[[post.description]]</p>
        <div class="horizontal justified">
          <paper-icon-button icon="thumb-up"></paper-icon-button>[[post.likes]]
          <paper-icon-button icon="thumb-down"></paper-icon-button>[[post.unlikes]]
        </div>
      </div>
    </paper-card>
  </template>

  <script>
    /**
     * `fotosocial-post`
     * card del post de fotosocial
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FotosocialPost extends Polymer.Element {
      static get is() { return 'fotosocial-post'; }
      static get properties() {
        return {
          post: {
            type: Object,
            value: {}
          }
        };
      }
    }

    window.customElements.define(FotosocialPost.is, FotosocialPost);
  </script>
</dom-module>
